<p>Puppy Name: <%= @puppy.name %></p>
<p>Puppy Breed: <%= @puppy.breed %></p>
<<<<<<< HEAD
<p>Puppy Age: <%= @puppy.age %> months</p>
=======
<p>Puppy Age: <%= @puppy.months_old %> months</p>
>>>>>>> actually use puppy instance
